# 01. Import Libraries

In [2]:
# Importing libraries (pandas, numpy, os)
import pandas as pd
import numpy as np
import os

# 02. Import Data

In [3]:
# Importing data orders
# Folder path:
path=r'C:\online course\career\python data\202304'

In [4]:
# Import order_products__prior.csv:
df_ords_prior=pd.read_csv(os.path.join(path, '02.Data', 'Original data','4.3_orders_products', 'order_products__prior.csv'), index_col = False)

In [5]:
# Import orders_checked.csv:
df_ords=pd.read_csv(os.path.join(path, '02.Data', 'Prepared data','orders_checked.csv'), index_col = False)

# 03. Check & Merge Dataframes

In [6]:
# Check output for df_ords_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
# Check output for df_ords
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [8]:
# Check dataframe size
df_ords_prior.shape

(32434489, 4)

In [9]:
# Check dataframe size
df_ords.shape

(3421083, 8)

In [10]:
# Merge df_ords and df_ords_prior
df_merged_large=df_ords.merge(df_ords_prior,on='order_id',indicator=True)

In [11]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [12]:
# Check value counts for '_merge' column
#QQQQQQQQQQQQQQ課本數據是206209???
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

# 04. Export Mergaed Data

In [13]:
# Step2.Export df_merged_large as .pkl
df_merged_large.to_pickle(os.path.join(path, '02.Data', 'Prepared data', 'orders_products_combined.pkl'))

# task 4.6

In [14]:
# step3.Import orders_products_combined.pkl:
df_ords_prods_combined=pd.read_pickle(r'C:\online course\career\python data\202304\02.Data\Prepared data\orders_products_combined.pkl')

In [15]:
# step4.check the dimensions of orders_products_combined.pkl
df_ords_prods_combined.shape

(32434489, 12)

In [16]:
# Importing data products_checked.csv
df_prods_check=pd.read_csv(os.path.join(path,'02.Data','Prepared data','products_checked.csv'),index_col=False)

In [17]:
# check the output of both dataframes
df_prods_check.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [18]:
df_ords_prods_combined.head(5)

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [19]:
# step5 Merge df_prods and df_ords_combined using product_id as a key and an indicator flag
orders_products_merged = df_prods_check.merge(df_ords_prods_combined, on ='product_id',how ='inner',indicator ='exists')

In [20]:
# step6 Confirm the results of the merge using the merge flag.
orders_products_merged.head(5)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,exists
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,28,6,11,3.0,5,0,both,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,30,6,17,20.0,1,1,both,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,2,0,21,6.0,20,0,both,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,1,3,13,NaN,10,0,both,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,3,4,17,9.0,11,1,both,both

In [26]:
# step7 
print('Number of rows and columns of df_merged:\n', orders_products_merged.shape)

Number of rows and columns of df_merged:
 (32404859, 16)

In [28]:
# step7 clean up the merged dataframe by deleting the '_merge' and 'exist' columns
orders_products_merged = orders_products_merged.drop(columns = ['_merge','exists'])

In [29]:
orders_products_merged.head(3)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0

In [30]:
# export df_merged in .pkl format
orders_products_merged.to_pickle(r'C:\online course\career\python data\202304\02.Data\Prepared data\orders_products_merged.pkl')

In [31]:
# missing Values of orders_products_merged
orders_products_merged.isnull().sum()

product_id                      0
product_name                    0
aisle_id                        0
department_id                   0
prices                          0
order_id                        0
user_id                         0
eval_set                        0
order_number                    0
order_dow                       0
order_hour_of_day               0
days_since_prior_order    2076096
add_to_cart_order               0
reordered                       0
dtype: int64

In [35]:
#change its name
orders_products_merged.rename(columns = {'order_dow' : 'orders_day_of_week','days_since_prior_order':'Order Interval'}, inplace = True)

In [36]:
orders_products_merged.isnull().sum()

product_id                  0
product_name                0
aisle_id                    0
department_id               0
prices                      0
order_id                    0
user_id                     0
eval_set                    0
order_number                0
orders_day_of_week          0
order_hour_of_day           0
Order Interval        2076096
add_to_cart_order           0
reordered                   0
dtype: int64

In [38]:
# Duplicates of orders_products_merged
# Create Duplicate df:
orders_products_merged_clean = orders_products_merged[orders_products_merged.duplicated()]

In [39]:
orders_products_merged_clean

Empty DataFrame
Columns: [product_id, product_name, aisle_id, department_id, prices, order_id, user_id, eval_set, order_number, orders_day_of_week, order_hour_of_day, Order Interval, add_to_cart_order, reordered]
Index: []

it mean there are no duplicates

In [40]:
# export df_merged in .pkl format
orders_products_merged.to_pickle(r'C:\online course\career\python data\202304\02.Data\Prepared data\orders_products_merged.pkl')