In [2]:
# Importing libraries (pandas, numpy, os)
import pandas as pd
import numpy as np
import os

# 02. Import Data

In [3]:
# Importing data orders
# Folder path:
path=r'C:\online course\career\python data\202304'

In [4]:
df_orders_products_merged=pd.read_pickle(r'C:\online course\career\python data\202304\02.Data\Prepared data\orders_products_merged.pkl')

In [5]:
df_orders_products_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,Order Interval,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0

In [6]:
# create subset
df = df_orders_products_merged[:1000000]

In [7]:
df.shape

(1000000, 14)

In [8]:
# define a function
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [9]:
# Apply the function
df['price_range'] = df.apply(price_label,axis=1)

C:\Users\j28c1\AppData\Local\Temp\ipykernel_19620\904918162.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label,axis=1)

In [10]:
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [11]:
df['prices'].max()

14.8

# 03.If-Statements with the loc() Function

In [12]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\j28c1\AppData\Local\Temp\ipykernel_19620\1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [13]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [14]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [15]:
df['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

# 04.loc with df_orders_products_merged

In [16]:
df_orders_products_merged.loc[df_orders_products_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [17]:
df_orders_products_merged.loc[(df_orders_products_merged['prices']<=15)&(df_orders_products_merged['prices']>5),'price_range_loc']='Mid-range product'

In [18]:
df_orders_products_merged.loc[df_orders_products_merged['prices']<=5,'price_range_loc']='Low_range product'

In [19]:
df_orders_products_merged['price_range_loc'].value_counts(dropna=False)

Mid-range product     21860860
Low_range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

# If statements with for-Loops(find busy day)

In [20]:
df_orders_products_merged['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [21]:
result = []

In [22]:
for value in df_orders_products_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [23]:
df_orders_products_merged['busiest_day'] = result

In [24]:
df_orders_products_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

In [25]:
df_orders_products_merged.shape

(32404859, 16)

In [26]:
df_orders_products_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,Order Interval,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy

# task4.7

Q2. Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [27]:
# step2 Creating the vector where the outputs from the loop will be stored
result2 = []

Observations: The two busiest days are 0 (Saturday) and 1 (Sunday). The two slowest days are 4 (Wednesday) and 3 (Tuesday).

In [28]:
# Creating the loop 
# 
for value in df_orders_products_merged['orders_day_of_week']:
  if value == 0 or value ==1:
    result2.append('Busiest days')
  elif value == 4 or value == 3:
    result2.append('Slowest days')
  else:
    result2.append('Regularly days')

In [29]:
# Create a new column in 'df_orders_products_merged' named busiest_days
df_orders_products_merged['busiest_days'] = result2

In [30]:
df_orders_products_merged.head(3)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,Order Interval,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly days
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days

# step3 Check the values of this new column for accuracy. Note any observations in markdown format.

In [31]:
# Checking value counts
df_orders_products_merged['busiest_days'].value_counts(dropna = False)

Regularly days    12916111
Busiest days      11864412
Slowest days       7624336
Name: busiest_days, dtype: int64

In [32]:
df_orders_products_merged.shape

(32404859, 17)

step4 When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”(難)

In order to find out the "Most orders,” “Average orders,” and “Fewest orders",We calculate the order volume for each hour separately.

In [33]:
# Creating a dataframe with the count of values for the column 'order_hour_of_day'
counts = df_orders_products_merged['order_hour_of_day'].value_counts().rename_axis('hour').reset_index(name='counts')

In [34]:
counts

    hour   counts
0     10  2761760
1     11  2736140
2     14  2689136
3     15  2662144
4     13  2660954
5     12  2618532
6     16  2535202
7      9  2454203
8     17  2087654
9      8  1718118
10    18  1636502
11    19  1258305
12    20   976156
13     7   891054
14    21   795637
15    22   634225
16    23   402316
17     6   290493
18     0   218769
19     1   115700
20     5    87961
21     2    69375
22     4    53242
23     3    51281

After summing up all the total order numbers, we calculate the quartiles. We call the numbers that are less than 0.25 times the total number "Fewest orders", those less than 0.5 "Average orders", and those greater than 0.75 "Most orders".

In [35]:
# Creating a list showing the percentiles for the value counts of the column 'order_hour_of_day'
orders=list(df_orders_products_merged['order_hour_of_day'].value_counts().quantile([0.25,0.5,0.75]))

In [36]:
orders

[272562.0, 1117230.5, 2556034.5]

time labeled “Most orders,” “Average orders,” and “Fewest orders.”

Observations: The 24 hours of the day can be split into three parts, with each part classified as having either 'Most orders' (hour 10, 11, 14, 15, 13, 12, 16, 9 - from 9am to 4pm), 'Average orders' (hour 17, 8, 18, 19, 20, 7, 21, 22 - from 7am to 8am and from 5pm to 10pm), or 'Fewest orders' (hour 23, 6, 0, 1, 5, 2, 4, 3 - from 11pm to 6am).

In [37]:
# create a for-loop that append to the 'hours' list the busyness of the hours based on values in the 'order_hour_of_day' column
hours = []

for hour in df_orders_products_merged['order_hour_of_day']:
  if hour in [10, 11, 14, 15, 13, 12, 16, 9]:
    hours.append('Most orders')
  elif hour in [23, 6, 0, 1, 5, 2, 4, 3]:
    hours.append('Fewest orders')
  else:
    hours.append('Average orders')

In [38]:
# create the 'busiest_period_of_day' column
df_orders_products_merged['busiest_period_of_day'] = hours

In [39]:
# check the output of the 'order_hour_of_day' and the 'busiest_period_of_day' column for accuracy
df_orders_products_merged[['order_hour_of_day', 'busiest_period_of_day']].head(10)

   order_hour_of_day busiest_period_of_day
0                  8        Average orders
1                  7        Average orders
2                 12           Most orders
3                  7        Average orders
4                 15           Most orders
5                  7        Average orders
6                  9           Most orders
7                 14           Most orders
8                 16           Most orders
9                  8        Average orders

In [40]:
# step 5 get the frequency of the values in the 'busiest_period_of_day' column
print('Frequency of values in the busiest_period_of_day column:\n', df_orders_products_merged['busiest_period_of_day'].value_counts())

Frequency of values in the busiest_period_of_day column:
 Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: busiest_period_of_day, dtype: int64

In [41]:
# step 7 export df_orders_products_merged in .pkl format
df_orders_products_merged.to_pickle(r'C:\online course\career\python data\202304\02.Data\Prepared data\orders_products_merged_new4.7.pkl')